<ul class="nav">
      <li>
        <%= link_to 'About Us', page_path("about-us") %>
      </li>
      <li>
        <%= link_to 'Terms of Use', page_path("terms-of-use") %>
      </li>
      <li>
        <%= link_to 'Guidelines', page_path("guidelines") %>
      </li>
      <li>
        <%= link_to 'Privacy Policy', page_path("privacy-policy") %>
      </li>
      <li>
        <%= link_to 'Contact', page_path("contact") %>
      </li>
      <li>
        <%= link_to 'Help', page_path("help") %>
      </li>
      <li>
        <%= link_to 'Copyright Oneiric Media 2012' %>
      </li>
</ul>